<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title>Nuevo producto</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card">
			<div class="card-header">Registrar Producto</div>
			<div class="card-body">
				<div th:object="${product}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-info">
						<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:object="${product}" th:action="@{/products/save}"
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>

					<div class="form-group">
						<label for="name">Name</label> <input type="text"
							class="form-control" id="name" aria-describedby="name"
							th:field="*{name}">
					</div>
					<div class="form-group">
						<label for="ubicacion">Ubicacion</label> <input type="text"
							class="form-control" id="ubicacion" aria-describedby="ubicacion"
							th:field="*{ubication}" />
					</div>
					<div class="form-group">
						<label for="quantity">Cantidad</label> <input type="text"
							class="form-control" id="quantity" aria-describedby="quantity"
							th:field="*{quantity}" />
					</div>
					<div class="form-group">
						<label for="expirationDatec">Fecha expiracion</label> <input
							type="text" class="form-control" id="expirationDate"
							aria-describedby="expirationDate" th:field="*{expirationDate}" />
					</div>
					<div class="form-group">
						<label for="unitPrice">Precio Unitario</label> <input type="text"
							class="form-control" id="unitPrice" aria-describedby="unitPrice"
							th:field="*{unitPrice}" />
					</div>
					<div class="form-group">
						<label for="category">Categoria</label> <select id="category"
							class="form-control" th:field="*{categories}" multiple="multiple">
							<option th:each="category : ${categories}"
								th:text="${category.name}" th:value="${category.id}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="provider">Proveedor</label> <select id="provider"
							class="form-control" th:field="*{providers}" multiple="multiple">
							<option th:each="provider : ${providers}"
								th:text="${provider.name}" th:value="${provider.id}"></option>
						</select>
					</div>
					<a th:href="@{/products/}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Guardar</button>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>