<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title>Nuevo ticket</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:tetx="${titulo}"></div>
			<div class="card-body">

				<form th:object="${ticket}" th:action="@{/tickets/save}"
					th:method="post">

<!-- 					<div class="form-group"> -->
<!-- 						<label class="col-sm-2 col-form-label" for="employee">Empleado</label> -->
<!-- 						<div class="col-sm-6"> -->
<!-- 							<input type="text" id ="employee" th:value="${ticket.employee.name} +' '+${ticket.employee.lastname}" -->
<!-- 							class="form-control" disabled="disabled"/> -->
<!-- 						</div> -->
<!-- 					</div> -->

					<div class="form-group">
						<label class="col-sm-2 col-form-label" for="description">Descripcion</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="description"
								aria-describedby="description" th:field="*{description}"/>
						</div>
					</div>


<!-- 					<div class="form-group"> -->
<!-- 						<input type="submit" th:text="${titulo}" class="btn btn-success" /> -->
<!-- 					</div> -->
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>