<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title>Nuevo proveedor</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<table class="table table-striped ">
		<thead class="bg-dark text-white">
			<tr>
				<th scope="col">Id</th>
				<th>Nombre</th>
				<th>Costo Unitario</th>
				<th>Cantidad</th>
		</thead>
		<tbody>
			<tr th:each="item :${listItem}">
				<td>1</td>
				<td th:text="${item.product.name}"></td>
<!-- 				<td th:text="${item.product.unitPrice}"></td> -->
				<td th:text="${item.quantity}"></td>
			</tr>
		</tbody>
	</table>


	<table class="table table-striped ">
		<thead class="bg-dark text-white">
			<tr>
				<th>Id</th>
				<th>Producto</th>
				<th>Monto</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row">
				<th>1</th>
				<th>laptop</th>
				<th class="monto">1202</th>
				<th class="total">4</th>
			</tr>
			<tr class="row">
				<th>2</th>
				<th>cpu</th>
				<th class="monto">599</th>
				<th class="total">3</th>
			</tr>

		</tbody>

		<span id="costoTotal"></span>
	</table>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>