<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title>List proveedores</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card  border border-primary bg-light ">

			<div class="card-header">
				<h3 class="text-center" th:text="${titulo}"></h3>
			</div>
			<div class="card-body ">
				<a th:href="@{/providers/new}" class="btn btn-primary">Nuevo</a>
				<table class="table table-striped ">
					<thead class="bg-dark text-white">
						<tr>
							<th scope="col">Id</th>
							<th>Nombre</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Ruc</th>
							<th>Editar</th>
							<th>Eliminar</th>
					</thead>
					<tbody>
						<tr th:each="provider :${providers}">

							<td th:text="${provider.id}"></td>
							<td th:text="${provider.name}"></td>
							<td th:text="${provider.email}"></td>
							<td th:text="${provider.phone}"></td>
							<td th:text="${provider.ruc}"></td>
							<td><a th:href="@{'/providers/edit/'+ ${provider.id}}"
								class="btn btn-success">Editar</a></td>
							<td><a th:href="@{'/providers/delete/' + ${provider.id}}"
								class="btn btn-danger" onclick="return confirm('Estas seguro de que quieres eliminar');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				tabindex="-1" aria-disabled="true">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>