<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title>Nuevo proveedor</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card" >
			<div class="card-header">Registrar Proveedor</div>
			<div class="card-body">

				<form th:object="${provider}" th:action="@{/providers/save}"
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>
					
					<div class="form-group">
						<label for="name">Name</label> <input type="text"
							class="form-control" id="name" aria-describedby="name"
							th:field="*{name}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" 
							th:errors="*{name}"></small>
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="email"
							class="form-control" id="email" aria-describedby="email"
							th:field="*{email}" />
							
					</div>
					<div class="form-group">
						<label for="phone">Phone</label> <input type="text"
							class="form-control" id="phone" aria-describedby="phone"
							th:field="*{phone}" />
							
					</div>
					<div class="form-group">
						<label for="ruc">Ruc</label> <input type="text"
							class="form-control" id="ruc" aria-describedby="ruc"
							th:field="*{ruc}" />
							
					</div>
					<a th:href="@{/providers}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Guardar</button>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>