<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title>Ver user</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text="${employee.name}"></li>
					<li class="list-group-item" th:text="${employee.lastName}"></li>
					<li class="list-group-item" th:text="${employee.creatAt}"></li>
				</ul>
			</div>

			<div th:if="${#lists.isEmpty(employee.tickets)}"
				class="alert alert-info my-4"
				th:text="'No hay facturas asignadas para el empleado ' + ${employee.name}+ ' ' + ${employee.lastName}"></div>
		    
		    
		
			<table th:if="${not #lists.isEmpty(employee.tickets)}"
				class="table table-bordered table-striped my-4">
				<thead class="thead-inverse">
					<tr>
						<th>Folio</th>
						<th>descripcion</th>
						<th>fecha</th>
						<th>total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" ticket : ${employee.tickets}">
						<td th:text="${ticket.id}"></td>
						<td th:text="${ticket.description}"></td>
						<td th:text="${ticket.creatAt}"></td>
						<td th:text="${ticket.total}"></td>
						<td></td>
					</tr>

				</tbody>
			</table>



		</div>




	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>